form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  width: 21.875rem;
  gap: 1.75rem;
  padding: 2.5rem 1.25rem 1.25rem;

  background: var(--background-tertiary);
  border-radius: 0.75rem;

  & #close-form {
    position: absolute;
    right: 1.22rem;
    top: 1.22rem;
    cursor: pointer;
  }

  & header {
    gap: 0.4rem;
  }

  & .input-wrapper {
    margin-bottom: 1rem;
  }

  & input {
    width: 100%;
  }

  & label {
    font: var(--text-label-md);
    color: var(--content-primary);
    margin-bottom: 0.25rem;
  }
}

fieldset {
  border: none;
}

.form-closed {
  display: none !important;
}

@media (width >= 80em) {
  form {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    padding: 2rem;
  }

  .hour-and-date {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
